*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: rgb(25,46,58);
}

.container-cabecario{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
    height: auto;
}

ul{
    display: flex;
    list-style: none;
    gap: 5rem;
}

ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer; 
}
ul li a:hover{
    color:#5bacdf;
}

.btn{
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
}

.btn:hover{
    background-color: #011927;
}

.meio{
    display: flex;
    max-width: 100%;
    margin-top: 5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.esquerda{
    max-width: 100%;
}

.title h1{
    font-size: 50px;
    color: #ccc;
}

.esquerda p{
    color: #ccc;
    line-height: 2.5rem;
}

button{
    color: #fff;
    background-color: #5bacdf;
    padding: 0.9rem 1.3rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: #011927;
}

.direita img{
    max-width: 100%;
    width: 650px;
    height: auto;
}

aside{
    display: none;
}

@media screen and (max-width:740px){
    ul{
        display: none;
    }

    .links{
        display: block;
    }

    .logo{
        margin-right: 15rem;
    }

    aside{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        overflow: hidden;
    }

    .icon-menu ion-icon{
        width: 45px;
        height: 45px;
        margin-right: 1.5rem;
        margin-top: 2rem;
        color: #fff;
    }

    #barra-menu{
        background-color: #2889c2;
        width: 0px;
        height: 100%;
        transition: 0.3s all;
    }

    #barra-menu ul{
        align-items: center;
        text-align: center;
        padding: 5rem;
        line-height: 5rem;
    }

    #barra-menu ul li a{
        color: #011927;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
    }
    #barra-menu ul li a:hover{
        padding: 8px;
        border-radius: 15px;
        background-color: #5bacdf;
    }

    .c-icon{
        margin-top: 50%;
        display: flex;
        justify-content: center;
        gap: 15px;
        overflow: hidden;
    }

    .c-icon span{
        color: #fff;
        font-size: 1rem;
    }

    @media screen and (max-width:580px){
        .title h1{
            font-size: 2.2rem;
            margin-left: 1.5rem;
        }

        .esquerda p{
            font-size: 1rem;
            margin-left: 1.5rem;
            width: 450px;
        }
        
        button{
            margin-left: 1.5rem;
        }

        .direita img{
            max-width: 100%;
            width: 450px;
            margin-top: 4.5rem;
            height: auto;
        }
    }
    @media screen and (max-width:440px){
        .direita img{
            margin-left: 1.2rem;
            width: 400px;
        }
        
        .esquerda p{
            width: 440px;
        }
    }
}